body {
    user-select: none;
    background-color: white;
}

section {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -80%);
    width: 100%;
}

#imgcontainer {
    position: relative;
    top: 0;
    width: 90%;
    min-width: 250px;
    max-width: 1000px;
    height: 500px;
    max-height: 70vh;
    margin: auto;
    border: 3px solid #615F5C;
    background-color: rgb(46, 46, 46);
    background-image: url('imgs/slide4.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#barcontainer {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 5px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

#bar {
    width: 0%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.6);
}

#btnscontainer {
    margin: auto;
    margin-top: 5px;
    width: fit-content;
}

.btn {
    display: inline-block;
    margin: 10px;
    width: 20px;
    height: 20px;
    line-height: 100%;
    border-radius: 50%;
    background-color: #615F5C;
}

.btn:nth-child(1), .btn:nth-child(5) {
    width: 17px;
    height: 17px;
}

.btn:hover, .btn:active {
    background-color: gray;
}